.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: var(--color-background); */
  color: var(--color-on-background);
  /* respect safe area insets on iOS */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.messagesContainer {
  flex: 1 1 auto;
  overflow-y: auto;
  /* optional padding top/bottom */
  padding-top: 8px;
  padding-bottom: 8px;
}

.inputContainer {
  display: flex;
  align-items: flex-end;
  padding: 8px 16px;
  border-top: 1px solid var(--color-gray-dust);
  /* background-color: var(--color-surface); */
}

/* Text input styling */
.input {
  flex: 1 1 auto;
  padding: 4px 8px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-body-md);
  outline: none;
  color: var(--color-white-pure);
  background-color: var(--color-black-hole);
}

.input::placeholder {
  color: var(--color-gray-dust);
}

/* Send button styling */
.sendButton {
  background: none;
  border: none;
  margin-left: 8px;
  color: var(--color-white-pure);
  cursor: pointer;
  padding: 8px;
}
.sendButton:active {
  opacity: 0.6;
}

/* Added to manage keyboard visibility */
.chatScreenContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows the container to take up available space in App.tsx */
  overflow: hidden; /* Prevents this container from causing scrollbars on App.tsx */
  min-height: 0; /* Crucial for allowing this container to shrink when keyboard appears */
}