.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000000; /* black background */
  color: #FFFFFF;
  box-sizing: border-box;
  /* Safe area for notches on iOS: */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.notification {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-gray-dust);
  color: var(--color-white-pure);
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-align: center;
}
